{% extends 'core/base.html' %}

{% block title %}
    {{ item.name}}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span-3 shadow-2xl rounded-xl">
            <img src="{{ item.image.url }}" class="rounded-xl pr-10">
        </div>

        
        <div class="col-span-2 p-6 bg-gray-100 rounded-xl shadow-2xl">
            <h1 class="mb-6 text-5xl font-bold pt-3">{{ item.name }}</h2>
            <p class="text-gray-500 text-2xl"><strong>Price: </strong>AED {{ item.price }}</p>
            <p class="text-gray-500 pb-10 pt-1"><strong>Category: </strong>{{ item.category }}</p>
            <p class="text-gray-500 pb-10 text-xl"><strong>Seller: </strong>{{ item.createdBy.username }}</p>
            {% if item.description %}
                <p class="text-gray-500"><strong>Description: </strong>{{ item.description }}</p>
            {% endif %}

            <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact Seller</a>
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl shadow-xl">
        <h2 class="mb-12 text-3xl text-center">Related Items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in related_items %}
                <div class="bg-white rounded-xl shadow-xl">
                    <a href="{% url 'item:detail' item.id %}">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" class="rounded-t-xl">
                    </a>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: AED {{ item.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}